<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MyFitnessTrackerLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MyFitnessTrackerLibrary.Properties.Settings>
            <setting name="StorageConnectionString" serializeAs="String">
                <value>DefaultEndpointsProtocol=https;AccountName=fittrackersignalrcon;AccountKey=vIDq1AKy35dfssf+sHd9+D2DSYi02nGqNgwhG5xRUUpYwsk0D4QBw8d5yQcIp5ZqPgkC0q+vnbFPYln2lzQSwA==</value>
            </setting>
            <setting name="NotificationHubConnectionString" serializeAs="String">
                <value>Endpoint=sb://fittracker-ns.servicebus.windows.net/;SharedAccessKeyName=DefaultFullSharedAccessSignature;SharedAccessKey=cEXxDDCyicMx2VgUhdvUPzm6Ylo9cvxKuMjWz3NI1gc=</value>
            </setting>
            <setting name="NotificationHubName" serializeAs="String">
                <value>fittracker</value>
            </setting>
            <setting name="SignalRHubHostLocation" serializeAs="String">
                <value>http://signalrgateway.azurewebsites.net/</value>
            </setting>
            <setting name="SignalRHubProxy" serializeAs="String">
                <value>ChatHub</value>
            </setting>
        </MyFitnessTrackerLibrary.Properties.Settings>
    </applicationSettings>
</configuration>